body {
    background: #000;
    font-family: 'Roboto Condensed', sans-serif;
}

.demo {
    max-width: 80vw;
    height: 128px;
    margin: 1em auto;
}

fieldset {
	padding: 2em 0;
	border: 1px solid white;
	margin: 0;
}

label:after {
    content: attr(for);
    color: white;
    display: block;
}

label {
	display: inline-block;
	text-align: center;
	/* width: 33%; */
	padding: 0;
	margin: 0;
}

input[type=range] {
	width: 29%;
	height: 50vh;
	cursor: pointer;
	-webkit-appearance: slider-vertical; /* WebKit */
}

ul.shader {
    display: block;
    height: 30vh;
    list-style: none;
    position: relative;
    mix-blend-mode: hard-light;
    overflow: hidden;
    margin: 1em 0 0 0;
    padding: 0;
}


ul li {
    display: inline-block;
    position: absolute;
    height: 30vh;
    width: 100%;
    padding: 0;
}

li.perlin {
	background: url(perlin-128.png);
    animation: moveup 5s linear infinite;
    background-blend-mode: multiply;
    z-index: 3;
    background-size: 100%;
	mix-blend-mode: color-burn;
	image-rendering: pixelated;
  	image-rendering: -moz-crisp-edges;
  	image-rendering: crisp-edges;
  	box-shadow: inset 0 0 15px 10px black;
}


li.gradient {
    background-image: linear-gradient(black, white);
    mix-blend-mode: multiply;
    z-index: 2;

}

li.mask {
    /* */
}

li.color {
    background-image: linear-gradient(white 0%, yellow 10%, orange 12%);
    z-index: 0;
}

@keyframes moveup {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: 100%;
    }
}